html{

    min-height: 100%;
    position: relative;
  
  }
  body{
      margin: 0px;
      padding: 0px;
      background : rgba(0,0,0,0.7) url(resources/background-img.jpg);
      background-size : cover;
      
      min-height: 100%;
      display: grid;
      color: rgb(229, 240, 255);
  }

.container {
   margin: auto;
   margin-top: 3%;
}

 .submit-btn{

    margin-left: 30%;
    font-size: 25px;
 }

 .form-control-label{

    margin-bottom: 20px;
 }

 .pred-price{

    text-align: center;
 }

 #a1{
    text-align: center;
 }

 h3{

    text-align: center;
 }